/* ========================= Font Colors ========================== */

.golden{
    color: #b59c14;
  }

.blue{
  color: rgb(122 201 232);
}

.dark-blue{
  color: rgb(37, 93, 115);
}

.gray{
  color: rgb(74, 74, 74);
}

/* ========================= Font Types ========================== */

.title-font{
    font-size: 2em;
  }