#Home_Title {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image{
    max-width: 30%;
    min-width: 350px;
    max-height: 350px;
}

.nav-logo-image {
    width: 192px;
    height: 43px;
}

.home-wallpaper{
    max-width: 70%;
    min-width: 350px;
    max-height: 350px;
    border-radius: 10px;

    -webkit-box-shadow: 6px 9px 23px -10px rgba(130,130,130,0.82);
    -moz-box-shadow: 6px 9px 23px -10px rgba(130,130,130,0.82);
    box-shadow: 6px 9px 23px -10px rgba(130,130,130,0.82);
}