@import "./styles/footer.css";
@import "./styles/fonts.css";
@import "./styles/home.css";
@import "./styles/contact.css";
@import "./styles/notfound.css";


/* ============================== General CSS ============================ */

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


